.Movie {
  /*border: 1px solid red;*/
  display: flex;
  align-items: center;
  margin: 20px 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  padding: 16px;
  position: relative;
}

.Movie:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.MovieInfo {
  /*border: 1px solid green;*/
  flex-grow: 1;
  padding: 16px;
}

.Movie img {
  width: 180px;
  height: 268px;
  object-fit: cover;
}

.Movie h3 {
  font-size: 20px;
}

.Movie button {
  position: absolute;
  top: 14px;
  right: 14px;
}

.SmallMovie {
  padding: 12px;
}

.SmallMovie img {
  width: 88px !important;
  height: auto;
}

.SmallMovie button {
  top: auto;
  bottom: 8px !important;
}

@media (max-width: 1108px) {
  .Movie {
    margin: 12px 0;
    padding: 12px;
  }
  .Movie img {
    width: 140px;
    height: 207px;
  }
  .Movie h3 {
    font-size: 19px;
  }
  .MovieInfo {
    padding: 12px;
  }
  .SmallMovie {
    padding: 8px;
  }
  .SmallMovie img {
    width: 60px !important;
    height: auto;
  }
  .SmallMovie h3 {
    font-size: 17px;
  }
}

@media (max-width: 960px) {
  .Movie {
    margin: 12px 0;
    padding: 16px;
  }
  .Movie h3 {
    font-size: 20px;
  }
  .MovieInfo {
    padding: 16px;
  }
}

@media (max-width: 776px) {
  .Movie {
    margin: 12px 0;
    padding: 12px;
  }
  .Movie h3 {
    font-size: 18px;
  }
  .MovieInfo {
    padding: 12px;
  }
  .SmallMovie {
    padding: 8px;
  }
  .SmallMovie img {
    width: 60px !important;
    height: auto;
  }
  .SmallMovie h3 {
    font-size: 16px;
  }
  .SmallMovie span {
    font-size: 15px;
  }
}
