.Movie {
  /*border: 1px solid red;*/
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}

.MovieInfo {
  /*border: 1px solid green;*/
  flex-grow: 1;
  padding: 16px;
}

.Movie img {
  width: 180px;
  height: 268px;
  object-fit: cover;

}

