.Movie {
  /*border: 1px solid red;*/
  display: flex;
  align-items: center;
  margin: 20px 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  padding: 16px;
  position: relative;
}

.Movie:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.MovieInfo {
  /*border: 1px solid green;*/
  flex-grow: 1;
  padding: 16px;
}

.Movie img {
  width: 180px;
  height: 268px;
  object-fit: cover;
}

.Movie h3 {
  font-size: 20px;
}

.Movie button {
  position: absolute;
  top: 8px;
  right: 8px;
}

.SmallMovie {
  padding: 12px;
}

.SmallMovie img {
  width: 88px !important;
  height: auto;
}
